registry=https://registry.npmjs.org/
fund=false
audit=false
engine-strict=false
; force public registry for common scopes used in this monorepo
@nestjs:registry=https://registry.npmjs.org/
@angular-devkit:registry=https://registry.npmjs.org/
@inquirer:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@babel:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@eslint-community:registry=https://registry.npmjs.org/
@jest:registry=https://registry.npmjs.org/
@jridgewell:registry=https://registry.npmjs.org/
@cspotcode:registry=https://registry.npmjs.org/
@balena:registry=https://registry.npmjs.org/
@bcoe:registry=https://registry.npmjs.org/
@borewit:registry=https://registry.npmjs.org/
@colors:registry=https://registry.npmjs.org/
@emnapi:registry=https://registry.npmjs.org/
@fastify:registry=https://registry.npmjs.org/
@grpc:registry=https://registry.npmjs.org/
@humanfs:registry=https://registry.npmjs.org/
@humanwhocodes:registry=https://registry.npmjs.org/
@img:registry=https://registry.npmjs.org/
@lukeed:registry=https://registry.npmjs.org/
@napi-rs:registry=https://registry.npmjs.org/
@noble:registry=https://registry.npmjs.org/
@nodelib:registry=https://registry.npmjs.org/
@nuxt:registry=https://registry.npmjs.org/
@opentelemetry:registry=https://registry.npmjs.org/
@paralleldrive:registry=https://registry.npmjs.org/
@pkgjs:registry=https://registry.npmjs.org/
@pkgr:registry=https://registry.npmjs.org/
@sinclair:registry=https://registry.npmjs.org/
@sinonjs:registry=https://registry.npmjs.org/
@tsconfig:registry=https://registry.npmjs.org/
@webassemblyjs:registry=https://registry.npmjs.org/